.container{
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.h_sides{
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.text1{
    text-transform: uppercase;
    font-size: 1.5rem;
    width: min-content;
    font-weight:600;

}
.text2{
display: flex;
flex-direction: column;
width: min-content;
color: black;
}

.text2>:first-child{
    font-weight: 800;
    font-size:2.5rem;
}
.text2>:nth-child(1){
    display: block;
}
.wrapper{
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
}

.wrapper>img{
    width: 30rem;
    position: absolute;
    margin-bottom: 1rem;
}

.blueCircle{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    z-index: -99;
    position: absolute;
    bottom: 0;
    background: hsla(217, 100%, 50%, 1);
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
}
.cart2{
    position: absolute;
    bottom: 25%;
    right: -1%;
    display:flex;
    gap: 1rem;
    align-items: center;
}
/* .bong{
    color: red;
} */
.cart2 >svg{
    width: 30px;
    height: 30px;
    background: white;
    padding:10px;
    border-radius: 50%;
    border: 6px solid;
}

.cart2 .signup{
    background-color:whitesmoke;
    display:flex;
    gap: 1rem;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: var(--shadow1);
}

.signup>:first-child{
display:block;
width: 6rem;
}

.signup>:nth-child(2){
    border: 1px solid skyblue;
    border-radius: 50%;
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    
}

.traffic{
    display:flex;
    flex-direction: column;
    text-align: right;
}


.traffic >:first-child{
    font-weight: 800;
    font-size: 2.5rem;
}
.customer{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.customer>:first-child{
    font-weight: 800;

    font-size: 2.5rem;
}

/* RESPONSIVE */

@media screen and (max-width: 856px) {
    .container{
        margin-top: 5rem;
        position: relative;
        display:grid;
        grid-template-areas:
        'left center center'
        'right right right';
    }
    .container>:first-child{
        grid-area: left;
        grid-template-rows: none;
        gap: 8rem;
    }
    .container>:nth-child(2){
        grid-area: center; 
    }
    .container>:nth-child(3){
        grid-area: right;
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;
    }
    .text1, .text2>:nth-child(2){
            font-size: .9rem;
            text-align: justify;
            /* background: #000; */
    }   
    .text2>:nth-child(1) ,.traffic>:nth-child(1), .customer>:nth-child(1){
        /* background: blue; */
        font-size: 1.5rem;
        text-align: left;
    }
    .blueCircle{
        position:absolute;
        width:70%;
        height: 100%;
        top:-5rem;
    }
}

@media screen and (max-width: 640px){
.blueCircle{
    top: 0;
    width: 16rem;
    height: 72%;
    }
    .wrapper>img{
        top: 3rem;
        width: 12rem;
        height: 15rem;
    }
    .cart2{
        transform: scale(.7);
        bottom: .5rem;
        right: 1rem;
    }
}