.container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;   
}
.container>:nth-child(1){
    position:absolute;
    width: 8rem;
    left: 30%;
    top: -3rem;
}
.products{
    width: 90%;
    display: grid;
    grid-template-columns: 25% auto;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 500;
    font-size: 1.3rem;
    list-style-type: none;
    cursor: pointer;

}
.menu>li:hover{
    color:var(--pink)
}

.listProducts{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    height: 25rem;
    overflow-y: scroll;
    grid-gap: 1rem;
    justify-content: space-between;
}
.product{
    position: relative;
    height: 8rem;
    width: 12rem;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    border-radius: 1rem;
}

@media screen and (max-width: 856px) {
    .container{
    gap: 1rem;
    }
    .container>:nth-child(1){
        background: teal;
        display: none;
    }

    .products{
        gap:1rem;
        grid-template-columns:none;
      
    }
    .menu{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 640px){
        .menu{
            margin-left: -2rem;
            gap: 0.5rem;
            flex-wrap: wrap;
            font-size: 1.3rem;
        }

        .container h1{
            text-align: center;
            font-size: 1rem;
        }
}