.container{
    padding:1.5rem;
    display: flex;

    
}
.logo{
    display: flex;
    align-items: center;
    flex:1;
    gap: 1rem
    
}
.logo > img{
    width: 2.5rem;
    height: 2.5rem;
}

.logo >span{
    font-weight: 600;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}
.bars{
    display:none;
}
.menu .menuList{
    display: flex;
    font-weight: 500;
    gap: 2rem;
    list-style-type: none;
}

.menuList> li:hover{
    color: salmon;
    cursor: pointer;
}

.search{
    width: 7rem;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 30%;
    padding: 0.5rem;
}

.cart{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

/* RESPONSIVE  */
@media screen and (max-width:856px){
    .search{
        display: none;
    }
    .right{
        gap: 1rem;
    }
}

@media screen and (max-width: 640px) {
        .container{
            position: relative;
        }
        .right{
            background: whitesmoke;
            position: absolute;
            right: 2rem;
            z-index: 9999;
            color: var(--black);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }

        .menu .menuList{
            flex-direction: column; 
            gap: 2rem;
            margin-left: -2rem;
            
        }
        .search{
            display: none;
        }
        .bars{
            display:block;
        }
  }


  