.testimonial{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
}

.wrapper{
    display:grid;
    align-items: flex-end;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
}

.wrapper>img{
    width: 25rem;
    justify-self:center;
}
.container{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
.container>:nth-child(1){
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}
.container>:nth-child(2){
    font-size: 0.8rem;
    text-transform: uppercase;
    display: block;
}

.wrapper>:nth-child(3){
    text-align: right;
    
}

.reviews{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    
}
.carousel{
    width: 100%;
}

.tCarousel{
    padding:2rem;
}
.testimonials{
    display: flex;
    flex-direction:column;
    position: relative;
    background: white;
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}
.testimonials >img{
    position: absolute;
    width: 3rem!important;
    top: -1.5rem!important;
    left: 45%!important;
}
.testimonials>:nth-child(2){
    text-align:start;
    font-size: 0.8rem;
    margin-top: 2rem;
    letter-spacing: 1px;
}
.testimonials .hr{
    height: 1;
    background-color: gray;
    width:80%;
    height: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.testimonials>:nth-child(4){
    font-weight: 500;
}
@media screen and (max-width: 640px) {
.wrapper{
    grid-template-columns: 1fr;
}
.wrapper>img{
    width: 80vw;
}
.wrapper>:nth-child(3) , .wrapper>:nth-child(1){
    text-align: center;
}


}