.s-container{
    position: relative;
    overflow: hidden;
}

.s-container .swiper{
    width: 70%;
    height:12rem;
    position: unset;
}

.s-container .swiper-slide div{
    display: flex!important;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

.s-container .swiper-button-prev{
    left: 6rem;
}


.s-container .swiper-button-next{
    right: 6rem;
}

.s-container .swiper-button-prev , .s-container .swiper-button-next{
    color: black;
}

.left-s{
    display: flex;
    background: whitesmoke;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
    padding: 10px;
    height: 100%;
}

.name-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.name-product>:nth-child(1){
    font-size: 1.4rem;
    color: blue;
    font-weight: 600;
}

.name-product>:nth-child(2){
    color:red;
    font-weight: bold;
    font-size: 0.7rem;
}

.name-product>:nth-child(3){
    font-size: 1.6rem;
}

.name-product>:nth-child(4){
    font-size: .6rem;
    border:1px solid var(--black);
    width: max-content;
}
.img-product{
    width: 40%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 45px;
    right: -20px;
    transform: rotate(-20deg);
    bottom: -50%;    
}

@media screen and (max-width: 850px) {
    .s-container .swiper{
        width:70%;
        height: 10rem;
    }

    .s-container .swiper-button-prev , .s-container .swiper-button-next{
        display: none;
    }
}
